# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
!lib/*.a

# Executables
*.exe
*.out
*.app

.vscode
.DS_Store
readWD
html
ignored_tests
build

# Tests
main0
main1
main2
main3